.banner{
    display: grid;
    grid-template-areas: 
    "img1 img1"
    "img1 img1"
    "img2 img3"
    "img4 img3"
    ;
    gap: 1rem;
}

.img1{
    grid-area: img1;
}

.img2{
    grid-area: img2;
}

.img3{
    grid-area: img4;
}

.img4{
    grid-area: img3;
}

@media(min-width: 720px){
    .banner{
        grid-template-areas: 
        "img1 img1 img2 img3"
        "img1 img1 img4 img3"
        ;
        gap: 1rem;
        column-gap: 2rem;
    } 
}